// Theme Information
//--------------------------------------------//
$theme_name: "Gunther & Co. Default Theme";
$theme_uri: "#";
$theme_description: "Default theme for Gunther & Co.";
$theme_version: "1.0";
$theme_author: "Derek Hargest";
$theme_author_uri: "http://www.guntherandco.com";
$theme_license: "GPL";
$theme_tags: "responsive-layout, post-formats";

$c-real-black: #292724;
$c-gc_white: #f2f2f2;
$c-gc_teal: #137d79;
$c-gc_dark_brown: #1b1612;
$c-gc_black_brown: #382d25;
$c-gc_black: #000003;
$c-gc_red: #e45d50;
$c-gc_light_teal: #9cdbd9;
$c-gc_light_gray: #d3d3d3;

$c-text-color: $c-gc_black_brown;
$c-active-page: $c-real-black;
