#banner{
	position: relative;
	z-index: 1;
}

.banner-wrapper{
  position: relative;
  height: auto;
}

.overlay-logo{
  margin: 0 auto;
  max-width: 120px;
  width: 9%;
}

.banner-overlay, .banner-overlay-notitle{
  position: relative;
  width: 100%;
  z-index: 10;
  margin-top: 2em;
  h2, h3{
    text-align: center;
    font-size: 2.20em;
    font-weight: 400;
    line-height: 1.25em;
    max-width: 13em;
    margin: 0 auto;
  }
  &.home .overlay-logo{
    margin: 0 auto;
    max-width: 144px;
    margin-top: 1.15em;
    width: 9%;
  }
}

.banner-overlay-notitle{
  margin-top: 9% !important;
  .dark{
    display: block;

  }
  .white{
    display: none;
  }
}

.banner.main-banner{
  position: relative;
}

@media (min-width: 836px){

}

@media (min-width: 450px){
  .banner-overlay, .banner-overlay-notitle{
    margin-top: 16%;
    &.home .overlay-logo{
      margin-top: 2.555em;
    }
    h2,h3{
      font-size: 4em;
      font-weight: 200;
      line-height: 1.15em;
    }
  }
}

@media (min-width: 700px){
  #banner{
    position: fixed;
  }
  .banner-overlay, .banner-overlay-notitle{
    position: absolute;
  }
  #content-block{
    margin-top: 0;
  }
  .banner-overlay-notitle{
    margin-top: 16% !important;
    .dark{
      display: none;
    }
    .white{
      display: block;
    }
  }
}

@media (max-width: 699px){
  #content-block{
    margin-top: 0em !important;
  }
  .banner-overlay{
    margin-top: 3.5em !important;
    padding-bottom: 4em !important;
  }

  .banner-overlay-notitle{
    padding-bottom: 4em !important;

  }
}

@media (min-width: 1140px){
  .banner-overlay, .banner-overlay-notitle{
    margin-top: 16%;
    h2,h3{
      font-size: 5.5em;
    }
  }

  .banner-overlay.home{
    margin-top: 18%;

    .overlay-logo{
      margin-top: 3.555em;
    }
  }
}
