#gallery{
	.content-container{
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		@include clearfix;
	}
	.entry-title{
		display: none;
	}
	.grid-sizer{
    width: 30.7692%;
  }
	.ngg-fancybox{
		margin-bottom: 4em;
		padding-left: 0px;
		float: left;
		width: 100%;
		height: auto;
		margin-right: 3.8461%;
    opacity: 1;
    transition: opacity 100ms ease-in-out;
		img{
			width: 100%;
			height: auto;
			border: 0;
		}
    &:hover{
      opacity: .75;
    }
	}
}

.gallery-content.content-container{
	margin-top: 4em;
	p{
		text-align: center;
		font-size: 1.75em;
	}
}

.ngg-widget img{
	margin: 0 !important;
	padding: 0 !important;
}

.ngg-fancybox:nth-child(3), .ngg-fancybox:nth-child(5),.ngg-fancybox:nth-child(6),.ngg-fancybox:nth-child(9), .ngg-fancybox:nth-child(11), .ngg-fancybox:nth-child(12) {
	margin-right: 0 !important;
}



.ngg-widget.entry-content{
	width: 100%;
	float: none !important;
	.ngg-fancybox{
		display: block;
	}
}

#fancybox-title{
  display: none !important;
	max-height: 1px;
}

#fancybox-outer{
  background: #f2f2f2;
}

#fancybox-close{
  background: transparent url('images/fancybox-close.png') no-repeat !important;

}

#fancybox-right-ico{
  background: transparent url('images/fancybox-right.png') no-repeat !important;

}

#fancybox-left-ico{
  background: transparent url('images/fancybox-left.png') no-repeat !important;

}

@media (min-width: 835px){
	#gallery .ngg-fancybox{
		width: 30.7692%;
		margin-bottom: 3.35%;
	}

	.ngg-fancybox:nth-child(4), .ngg-fancybox:nth-child(10){
		width: 65.3846% !important;
	}

}

@media (min-width: 1140px){
	#gallery{
		.content-container{
			padding-bottom: 3.5em;
			padding-top: 1em;
		}
	}
}

@media (min-width: 1195px){
	#gallery .ngg-fancybox{
		margin-bottom: 3.35%;
	}

	.ngg-widget.entry-content{
		.ngg-fancybox{
			min-height: 240px;
		}
	}
}
