#menus{
	h3{
		text-align: center;
		margin-bottom: 3em;
	}
	.content-container{
		margin-top: 3.8888em;
	}
	.menu-link{
		display: block;
		width: 100%;
		background: #e45d50;
		margin-bottom: .75em;
		color: #fff;
		text-decoration: none;
		text-align: center;
		font-size: 2.5em;
		text-transform: uppercase;
		padding: .5em 0 .75em 0;
		transition: all 200ms linear;
		@include clearfix;
		.menu-hours{
			font-size: .5em;
      padding-top: 1em;
		}
		span{
			width: 100%;
			text-align: center;
			float: left;
			font-size: 2.5em;
			margin-top: .15em;
		}
		&:hover{
			opacity: .85;
		}
	}
}

@media (min-width: 955px){
	#menus{
		.menu-link{
			@include span(5 of 10);
			margin-bottom: .75em;
			color: #fff;
			text-decoration: none;
			text-align: center;
			font-size: 2em;
			text-transform: uppercase;
			padding: 1.2em 0;
			&.last{
				@include span(5 of 10 last);
			}
			span{
				font-size: 2em;
				margin-top: .15em;
			}
			.menu-hours{
				font-size: .5em;
				padding-top: 1em;
			}
		}
	}
}

@media (min-width: 930px){

#menus .menu-link	.menu-hours{
		font-size: .5em;
		padding-top: 1em;
	}

}


@media (min-width: 1140px){
#menus .menu-link	.menu-hours{
		font-size: .75em;
		padding-top: 1em;
	}

}
